
$color-azul: #081F3E;
$color-gris: #969BA0;
$celeste: #3CBAEC;

*{
	margin:0px;
	padding: 0px;
}

body{
	color: $color-azul;
	font-family: Roboto, Sans serif;
	font-size: 18px;
}

.mimenu{
	background-color: $celeste;
	border-radius: 10px;
	padding: 5px;
	color: #333;
	text-decoration: none;
}

.header{
	background-color: $color-azul;
	color: white;
	font-size: 1em;
	border-radius: 10px 10px 0px 0px;
	height: 60px;
	text-align: center;
	.title{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
	}
	.subtitle{
		font-size: 1.2em;
	}
}

.header__title{
	font-size: 0.8em;
}
.content-pedidos{
	display: flex;
	border-bottom: 1px $color-gris solid;
	padding: 5px;

	.pedido_imagen{
		width: 20%;
		display: flex;
		justify-content: center;
		align-items: center;
	
		.movilidad{
			background-color: $celeste;
			border-radius: 50%;
			color: white;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 50px;
			height: 50px;
		}

		.etiqueta{
			font-size: 0.5em;
			color: $color-gris;
		}

	}

	.pedidos_detalles{
		width: 80%;

		.etiqueta{
			font-size: 0.5em;
			color: $color-gris;
		}
		p{
			
		}

		.boton-principal{
			display: flex;
			background-color: $color-azul;
			text-decoration: none;
			color: white;
			font-weight: bold;
			justify-content: center;
			align-items: center;
			text-transform: uppercase;
			height: 40px;
			width: 100%;
			&:hover{
				width: 90%;
				display: flex;
				justify-content: center;
			}
		}
	}
}
